[submodule "libgit2"]
	path = HsxQtUtilitiesGit/dependencies/libgit2
	url = https://github.com/libgit2/libgit2.git
	
[submodule "geos"]
	path = HsxQtUtilitiesGis/dependencies/geos
	url = https://github.com/libgeos/geos.git
